
.bordered-titled-title {
  -fx-background-color: #efeff5;
  -fx-text-fill: gray;
  -fx-translate-y: -16;
  -fx-font-style : italic;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 10 5 5 5;
  -fx-border-color: gray;
  -fx-border-width: 1;
}

.bordered-titled-content {
  -fx-padding: 26 10 10 10;
}